@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-sans: "Outfit", sans-serif;

  --color-custom-deep-black: #0D0D0D;
  --color-custom-dark-gray: #1A1A1A;
  --color-custom-medium-gray: #2D2D2D; 
  --color-custom-primary-white: #FFFFFF;
  --color-custom-light-gray: #B3B3B3;
  --color-custom-accent-blue: rgb(92, 119, 255);
  
  --color-yellow-400: #facc15; 
  --color-yellow-600: #ca8a04; 
}
